<a href="https://colab.research.google.com/github/BahFr/dados-enade/blob/main/Experimento_5_5_TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Recorte 2 - Perfil: Todos os cursos da área de computação, '18–23' e '24-28' anos, Federais, pais com ensino superior e ensino médio, motivação por vocação"**

# Módulos gerais

## Módulos Importantes

In [ ]:
#módulos importantes
import pandas as pd
from matplotlib import pyplot as plt
import numpy
from google.colab import drive
import plotly.express as px

## Lendo as bases de dados do drive

In [ ]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
enade2017=pd.read_csv("/content/drive/My Drive/MICRODADOS_ENADE_2017.txt", sep=';', low_memory=False,
                                                                          dtype={"CO_CATEGAD": str,
                                                                               'CO_GRUPO':str,
                                                                              'CO_UF_CURSO':str,
                                                                              'CO_REGIAO_CURSO':str,
                                                                              'NU_IDADE':str,
                                                                              'TP_SEXO':str,
                                                                              'ANO_IN_GRAD':str,

                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                                 'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str,
                                                                              'QE_I01': str,
                                                                              'QE_I02': str,
                                                                              'QE_I03': str,                                                                                'QE_I01': str,
                                                                              'QE_I04': str,
                                                                              'QE_I05': str,
                                                                              'QE_I06': str,
                                                                              'QE_I07': str,
                                                                              'QE_I08': str,                                                                                'QE_I01': str,
                                                                              'QE_I09': str,
                                                                              'QE_I10': str,
                                                                              'QE_I11': str,
                                                                              'QE_I12': str,
                                                                              'QE_I13': str,                                                                                'QE_I01': str,
                                                                              'QE_I14': str,
                                                                              'QE_I15': str,
                                                                              'QE_I16': str,
                                                                              'QE_I17': str,
                                                                              'QE_I18': str,                                                                                'QE_I01': str,
                                                                              'QE_I19': str,
                                                                              'QE_I20': str,
                                                                              'QE_I21': str,
                                                                              'QE_I22': str,
                                                                              'QE_I23': str,                                                                                'QE_I01': str,
                                                                              'QE_I24': str,
                                                                              'QE_I25': str,
                                                                              'QE_I26': str})

enade2017.shape

(537436, 150)

In [ ]:
enade2014=pd.read_csv("/content/drive/My Drive/MICRODADOS_ENADE_2014.txt", sep=';', low_memory=False,
                                                                          dtype={"CO_CATEGAD": str,
                                                                               'CO_GRUPO':str,
                                                                              'CO_UF_CURSO':str,
                                                                              'CO_REGIAO_CURSO':str,
                                                                              'NU_IDADE':str,
                                                                              'TP_SEXO':str,
                                                                              'ANO_IN_GRAD':str,

                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                                 'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str,
                                                                              'QE_I01': str,
                                                                              'QE_I02': str,
                                                                              'QE_I03': str,                                                                                'QE_I01': str,
                                                                              'QE_I04': str,
                                                                              'QE_I05': str,
                                                                              'QE_I06': str,
                                                                              'QE_I07': str,
                                                                              'QE_I08': str,                                                                                'QE_I01': str,
                                                                              'QE_I09': str,
                                                                              'QE_I10': str,
                                                                              'QE_I11': str,
                                                                              'QE_I12': str,
                                                                              'QE_I13': str,                                                                                'QE_I01': str,
                                                                              'QE_I14': str,
                                                                              'QE_I15': str,
                                                                              'QE_I16': str,
                                                                              'QE_I17': str,
                                                                              'QE_I18': str,                                                                                'QE_I01': str,
                                                                              'QE_I19': str,
                                                                              'QE_I20': str,
                                                                              'QE_I21': str,
                                                                              'QE_I22': str,
                                                                              'QE_I23': str,                                                                                'QE_I01': str,
                                                                              'QE_I24': str,
                                                                              'QE_I25': str,
                                                                              'QE_I26': str})

enade2014.shape

## Criando os DataFrames

In [ ]:
df2017 = pd.DataFrame(enade2017, columns=['CO_CATEGAD',
'CO_GRUPO',
'CO_UF_CURSO',
'CO_REGIAO_CURSO',
'NU_IDADE',
'TP_SEXO',
'NT_GER',
'NT_FG',
'QE_I01',
'QE_I02',
'QE_I05',
'QE_I08',
'QE_I11',
'QE_I12',
'QE_I15',
'QE_I17',
'QE_I18',
'QE_I21',
'QE_I25',])
df2017.head(10)

In [ ]:
df2014 = pd.DataFrame(enade2014, columns=['CO_CATEGAD',
'CO_GRUPO',
'CO_UF_CURSO',
'CO_REGIAO_CURSO',
'NU_IDADE',
'TP_SEXO',
'NT_GER',
'NT_FG',
'QE_I01',
'QE_I02',
'QE_I05',
'QE_I08',
'QE_I11',
'QE_I12',
'QE_I15',
'QE_I17',
'QE_I18',
'QE_I21',
'QE_I25'])
df2014.head(10)

## Tratamento dos dados

In [ ]:
tabela17 = df2017.replace({',': '.'}, regex=True)
tabela14 = df2014.replace({',': '.'}, regex=True)

#substituir a vírgula por ponto

In [ ]:
tabela17.shape

In [ ]:
tabela14.shape

In [ ]:
tabela17.dropna(axis=0) ##acho que vale tirar os nulos somente das colunas que for ser usadas.  Tinha  537436 e fica  442868 (quase 100 mil de diff)

In [ ]:
tabela14.dropna(axis=0)

# Unindo as duas tabelas em uma só

In [ ]:
# Concatenando as tabelas ao longo das linhas (adicionando novas linhas)
tabela_unida = pd.concat([tabela14, tabela17], ignore_index=True)

# Exibindo as primeiras linhas da tabela unida
tabela_unida.head()

In [ ]:
tabela_unida.shape

# Filtrando pelos cursos de computação

In [ ]:
# Lista dos códigos de curso da área de computação
## quais são os cursos?
codigos_computacao = ['4003', '5809', '4004', '4006']
#2014
#5809 = ENGENHARIA DE COMPUTAÇÃO
#4004 = CIÊNCIA DA COMPUTAÇÃO (BACHARELADO)
#4006 = SISTEMAS DE INFORMAÇÃO

#2017
#4003 = Engenharia Da Computação
#4004 = Ciência Da Computação (Bacharelado)
#4006 = Sistemas De Informação

In [ ]:
# Filtrando a tabela unificada para incluir apenas cursos da área de computação
tabela_computacao = tabela_unida[tabela_unida['CO_GRUPO'].isin(codigos_computacao)]

In [ ]:
tabela_computacao.head()

In [ ]:
## Remove as linhas onde 'NT_GER' é nulo na tabela_computacao
tabela_computacao = tabela_computacao.dropna(subset=['NT_GER'])
## só retirar aquilo que for realmente usado

In [ ]:
tabela_computacao.head() ##nulos de notas retirados

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
595,10002,4004,51,5,21,M,67.5,85.5,A,C,E,F,A,A,A,A,B,A,E
597,10002,4004,51,5,20,M,40.1,45,A,C,D,B,A,A,A,A,A,B,E
600,10002,4004,51,5,21,M,59.7,85.7,A,A,D,E,A,A,A,A,A,A,A
601,10002,4004,51,5,26,F,68.7,71.8,A,A,E,D,A,A,A,A,A,A,A
602,10002,4004,51,5,22,M,52.3,56,A,C,D,C,A,E,A,A,A,B,C

In [ ]:
# Obtendo os tipos únicos de códigos de curso na tabela_computacao
tipos_codigos_curso = tabela_computacao['CO_GRUPO'].unique()

# Exibindo os tipos únicos de códigos de curso
print(tipos_codigos_curso)

['4004' '5809' '4006' '4003']

In [ ]:
tabela_computacao.groupby('CO_GRUPO')['CO_GRUPO'].count()

CO_GRUPO
4003     3465
4004    16765
4006    25258
5809     2549
Name: CO_GRUPO, dtype: int64

In [ ]:
print(tabela_computacao['CO_GRUPO'].isnull().sum())

0

In [ ]:
tabela_computacao['CO_GRUPO'] = tabela_computacao['CO_GRUPO'].replace({'5809': '4003'}, regex=True)
#padronizar o curso de eng. de compt

In [ ]:
tabela_computacao.groupby('CO_GRUPO')['CO_GRUPO'].count()

CO_GRUPO
4003     6014
4004    16765
4006    25258
Name: CO_GRUPO, dtype: int64

In [ ]:
# Verificando a dimensão final da tabela
print("Dimensão da tabela final:", tabela_computacao.shape)

Dimensão da tabela final: (48037, 19)

## Map dos cursos de computação

In [ ]:
mapping = {'5809': '4003', '4003': '4003', '4004': '4004', '4006': '4006'}
tabela_computacao['CO_GRUPO'] = tabela_computacao['CO_GRUPO'].replace(mapping)

#Usar Tipos de Dados Adequados:

In [ ]:
tabela_computacao['NT_GER'] = tabela_computacao['NT_GER'].astype(float)
tabela_computacao.head()

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
595,10002,4004,51,5,21,M,67.5,85.5,A,C,E,F,A,A,A,A,B,A,E
597,10002,4004,51,5,20,M,40.1,45,A,C,D,B,A,A,A,A,A,B,E
600,10002,4004,51,5,21,M,59.7,85.7,A,A,D,E,A,A,A,A,A,A,A
601,10002,4004,51,5,26,F,68.7,71.8,A,A,E,D,A,A,A,A,A,A,A
602,10002,4004,51,5,22,M,52.3,56,A,C,D,C,A,E,A,A,A,B,C

# Recorte 2

#### Perfil jovem em instituições públicas
* Curso: Todos os cursos

* Faixa Etária: 18–23 anos

* Escolaridade dos pais: Tem Superior

* Motivação: Vocação

* Instituição: Pública - federal as 10 maiores

## Mapeamentos

In [ ]:
tabela_computacao = tabela_computacao.dropna(subset=['CO_CATEGAD'])
tabela_computacao['CO_CATEGAD'] = tabela_computacao['CO_CATEGAD'].astype(int)

# Novo mapeamento para 2 níveis: Públicas (1) e Privadas (2)
mapeamento_categorias = {
    # Públicas
    93: 1, # Federal
    10002: 1, # Federal
    10001: 3, # Estadual
    10003: 4, # Municipal
    116: 4, # Municipal

    # Privadas
    118: 2, # Com fins lucrativos
    121: 2, # Sem fins lucrativos
    10004: 2, # Com fins lucrativos
    10005: 2, # Com fins lucrativos
    10006: 2, # Com fins lucrativos
    10007: 2, # Sem fins lucrativos
    10008: 2, # Sem fins lucrativos
    10009: 2, # Sem fins lucrativos
}


# Aplicar o mapeamento correto de categorias
tabela_computacao['Tipo_Instituicao'] = tabela_computacao['CO_CATEGAD'].map(mapeamento_categorias)

# 2. Remover valores nulos em NT_GER e CO_CATEGAD
tabela_computacao = tabela_computacao.dropna(subset=['NT_GER', 'CO_CATEGAD'])

In [ ]:
# Mapeamento dos códigos para os nomes dos cursos
curso_mapping = {
    '4003': 'Engenharia da Computação',
    '4004': 'Ciência da Computação (Bacharelado)',
    '4006': 'Sistemas de Informação'
}

# Adicionando os nomes dos cursos à tabela
tabela_computacao['Curso'] = tabela_computacao['CO_GRUPO'].map(curso_mapping)

In [ ]:
# Converte NU_IDADE para número, transformando valores inválidos em NaN
tabela_computacao['NU_IDADE'] = pd.to_numeric(tabela_computacao['NU_IDADE'], errors='coerce')

# Definindo os intervalos e etiquetas para as faixas etárias
bins = [0, 18, 23, 28, 33, 38, 43, 48, 53, 58, 63, 68, float('inf')]
labels = ['0-17', '18-23', '24-28', '29-33', '34-38', '39-43', '44-48', '49-53', '54-58', '59-63', '64-68', '69+']

# Criar a coluna de faixa etária na tabela_computacao
tabela_computacao['faixa_etaria'] = pd.cut(tabela_computacao['NU_IDADE'], bins=bins, labels=labels, right=False)

In [ ]:
# Novo mapeamento para as categorias de escolaridade da mãe
mapeamento_escolaridade = {
    'A': 'Outro',          # Nenhuma
    'B': 'Tem Fundamental',  # Ensino fundamental: 1º ao 5º ano
    'C': 'Tem Fundamental',  # Ensino fundamental: 6º ao 9º ano
    'D': 'Tem Médio',         # Ensino médio
    'E': 'Tem Superior',      # Ensino Superior - Graduação
    'F': 'Tem Superior'       # Pós-graduação
}

# Aplicar o mapeamento às tabelas de 2014 e 2017
tabela_computacao['QE_I05'] = tabela_computacao['QE_I05'].map(mapeamento_escolaridade)

# Verificar as contagens de cada categoria para validar o mapeamento
#print(tabela_computacao['QE_I05'].value_counts())

In [ ]:
# Novo mapeamento para a questão QE_I25_E
mapeamento_motivo_curso = {
    'A': 'Inserção no mercado de trabalho',  # Inserção no mercado de trabalho
    'B': 'Família e Sociedade',                 # Influência familiar
    'C': 'Valorização profissional',                 # Valorização profissional
    'D': 'Família e Sociedade',                 # Prestígio Social
    'E': 'Vocação',                 # Vocação
    'F': 'Outros',                 # Oferecido na modalidade a distância
    'G': 'Outros',                 # Baixa concorrência para ingresso
    'H': 'Outros'                  # Outro motivo
}
# Aplicando o mapeamento dos motivos de escolha de curso
tabela_computacao['QE_I25'] = tabela_computacao['QE_I25'].map(mapeamento_motivo_curso)

In [ ]:
print(tabela_computacao['Tipo_Instituicao'].isna().sum())
print(tabela_computacao['QE_I05'].isna().sum())
print(tabela_computacao['QE_I25'].isna().sum())

23945
228
229

## Recortes

In [ ]:
from scipy.stats import ttest_ind

# Lista de cursos de computação
cursos_computacao = [
    'Ciência da Computação (Bacharelado)',
    'Engenharia da Computação',
    'Sistemas de Informação'
]

# Filtrando todos os cursos de computação com os mesmos critérios
recorte_computacao = tabela_computacao[
    (tabela_computacao['Curso'].isin(cursos_computacao)) &
    (tabela_computacao['faixa_etaria'].isin(['18-23', '24-28'])) &
    (tabela_computacao['QE_I05'].isin(['Tem Superior', 'Tem Médio'])) &
    (tabela_computacao['QE_I25'] == 'Vocação') &
    (tabela_computacao['Tipo_Instituicao'] == 1)  # Instituição federal
]

# Separando notas por sexo
notas_fem = recorte_computacao[recorte_computacao['TP_SEXO'] == 'F']['NT_GER'].astype(float)
notas_masc = recorte_computacao[recorte_computacao['TP_SEXO'] == 'M']['NT_GER'].astype(float)

# Teste t de Student
t_stat, p_valor = ttest_ind(notas_fem, notas_masc, equal_var=False)

print(f"Estatística t (todos os cursos): {t_stat:.4f}")
print(f"P-valor (todos os cursos): {p_valor:.6f}")

Estatística t (todos os cursos): -1.2299
P-valor (todos os cursos): 0.221209

In [ ]:
# Contagem de participantes por sexo no novo recorte
contagem_por_sexo = recorte_computacao['TP_SEXO'].value_counts()

print("Contagem por sexo no recorte:")
print(contagem_por_sexo)

Contagem por sexo no recorte:
TP_SEXO
M    1098
F     101
Name: count, dtype: int64