<a href="https://colab.research.google.com/github/BahFr/dados-enade/blob/main/Experimento_5_4_TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Recorte 2 - Perfil: Ciência da Computação (Bacharelado), 18–23 anos, IF, pais com ensino superior, motivação por vocação"**

# Módulos gerais

## Módulos Importantes

In [ ]:
#módulos importantes
import pandas as pd
from matplotlib import pyplot as plt
import numpy
from google.colab import drive
import plotly.express as px

## Lendo as bases de dados do drive

In [ ]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
enade2017=pd.read_csv("/content/drive/My Drive/MICRODADOS_ENADE_2017.txt", sep=';', low_memory=False,
                                                                          dtype={"CO_CATEGAD": str,
                                                                               'CO_GRUPO':str,
                                                                              'CO_UF_CURSO':str,
                                                                              'CO_REGIAO_CURSO':str,
                                                                              'NU_IDADE':str,
                                                                              'TP_SEXO':str,
                                                                              'ANO_IN_GRAD':str,

                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                                 'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str,
                                                                              'QE_I01': str,
                                                                              'QE_I02': str,
                                                                              'QE_I03': str,                                                                                'QE_I01': str,
                                                                              'QE_I04': str,
                                                                              'QE_I05': str,
                                                                              'QE_I06': str,
                                                                              'QE_I07': str,
                                                                              'QE_I08': str,                                                                                'QE_I01': str,
                                                                              'QE_I09': str,
                                                                              'QE_I10': str,
                                                                              'QE_I11': str,
                                                                              'QE_I12': str,
                                                                              'QE_I13': str,                                                                                'QE_I01': str,
                                                                              'QE_I14': str,
                                                                              'QE_I15': str,
                                                                              'QE_I16': str,
                                                                              'QE_I17': str,
                                                                              'QE_I18': str,                                                                                'QE_I01': str,
                                                                              'QE_I19': str,
                                                                              'QE_I20': str,
                                                                              'QE_I21': str,
                                                                              'QE_I22': str,
                                                                              'QE_I23': str,                                                                                'QE_I01': str,
                                                                              'QE_I24': str,
                                                                              'QE_I25': str,
                                                                              'QE_I26': str})

enade2017.shape

In [ ]:
enade2014=pd.read_csv("/content/drive/My Drive/MICRODADOS_ENADE_2014.txt", sep=';', low_memory=False,
                                                                          dtype={"CO_CATEGAD": str,
                                                                               'CO_GRUPO':str,
                                                                              'CO_UF_CURSO':str,
                                                                              'CO_REGIAO_CURSO':str,
                                                                              'NU_IDADE':str,
                                                                              'TP_SEXO':str,
                                                                              'ANO_IN_GRAD':str,

                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                                 'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str,
                                                                              'QE_I01': str,
                                                                              'QE_I02': str,
                                                                              'QE_I03': str,                                                                                'QE_I01': str,
                                                                              'QE_I04': str,
                                                                              'QE_I05': str,
                                                                              'QE_I06': str,
                                                                              'QE_I07': str,
                                                                              'QE_I08': str,                                                                                'QE_I01': str,
                                                                              'QE_I09': str,
                                                                              'QE_I10': str,
                                                                              'QE_I11': str,
                                                                              'QE_I12': str,
                                                                              'QE_I13': str,                                                                                'QE_I01': str,
                                                                              'QE_I14': str,
                                                                              'QE_I15': str,
                                                                              'QE_I16': str,
                                                                              'QE_I17': str,
                                                                              'QE_I18': str,                                                                                'QE_I01': str,
                                                                              'QE_I19': str,
                                                                              'QE_I20': str,
                                                                              'QE_I21': str,
                                                                              'QE_I22': str,
                                                                              'QE_I23': str,                                                                                'QE_I01': str,
                                                                              'QE_I24': str,
                                                                              'QE_I25': str,
                                                                              'QE_I26': str})

enade2014.shape

(481720, 154)

## Criando os DataFrames

In [ ]:
df2017 = pd.DataFrame(enade2017, columns=['CO_CATEGAD',
'CO_GRUPO',
'CO_UF_CURSO',
'CO_REGIAO_CURSO',
'NU_IDADE',
'TP_SEXO',
'NT_GER',
'NT_FG',
'QE_I01',
'QE_I02',
'QE_I05',
'QE_I08',
'QE_I11',
'QE_I12',
'QE_I15',
'QE_I17',
'QE_I18',
'QE_I21',
'QE_I25',])
df2017.head(10)

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
0,1,5710,51,5,26,F,"52,6","64,1",A,A,F,B,A,A,A,B,A,A,H
1,1,5710,51,5,23,F,"63,1","82,1",B,D,D,B,A,A,B,A,B,A,C
2,1,5710,51,5,23,M,"33,7","52,5",A,D,F,F,A,A,A,B,A,A,E
3,1,5710,51,5,23,M,"58,1","72,6",A,A,D,B,A,A,E,A,A,A,E
4,1,5710,51,5,24,M,"46,3","73,2",A,A,F,F,A,A,A,B,A,A,A
5,1,5710,51,5,23,M,"64,2","80,7",A,F,B,C,A,A,D,A,A,A,C
6,1,5710,51,5,21,F,"41,4","43,0",A,D,D,C,A,E,E,A,A,A,D
7,1,5710,51,5,23,M,"48,8","45,1",A,D,E,C,A,A,A,B,A,A,D
8,1,5710,51,5,23,F,"52,9","66,9",A,F,F,E,A,A,E,A,B,A,C
9,1,5710,51,5,22,F,"62,7","82,3",A,D,D,C,A,A,A,B,A,A,E

In [ ]:
df2014 = pd.DataFrame(enade2014, columns=['CO_CATEGAD',
'CO_GRUPO',
'CO_UF_CURSO',
'CO_REGIAO_CURSO',
'NU_IDADE',
'TP_SEXO',
'NT_GER',
'NT_FG',
'QE_I01',
'QE_I02',
'QE_I05',
'QE_I08',
'QE_I11',
'QE_I12',
'QE_I15',
'QE_I17',
'QE_I18',
'QE_I21',
'QE_I25'])
df2014.head(10)

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
0,10002,5710,51,5,24,M,59.3,67.2,A,A,E,F,A,A,A,B,A,A,A
1,10002,5710,51,5,22,F,60.8,66.2,A,C,D,E,A,A,A,B,A,A,H
2,10002,5710,51,5,24,F,69.2,92.4,A,C,E,C,A,A,A,E,A,A,A
3,10002,5710,51,5,24,M,43.1,22.5,A,A,E,F,A,A,A,B,A,A,C
4,10002,5710,51,5,23,M,43.9,52.5,A,C,E,F,A,A,A,B,A,A,B
5,10002,5710,51,5,21,M,61.2,76.8,A,C,E,E,A,A,A,A,B,A,C
6,10002,5710,51,5,25,F,60.1,82.4,A,C,E,C,A,A,A,E,A,A,A
7,10002,5710,51,5,37,M,39.6,68.3,B,E,D,E,A,A,A,A,B,B,A
8,10002,5710,51,5,23,M,54,73.5,A,A,D,E,A,A,A,B,A,A,H
9,10002,5710,51,5,22,M,51.9,67.9,A,A,E,F,A,A,A,E,A,A,E

## Tratamento dos dados

In [ ]:
tabela17 = df2017.replace({',': '.'}, regex=True)
tabela14 = df2014.replace({',': '.'}, regex=True)

#substituir a vírgula por ponto

In [ ]:
tabela17.shape

(537436, 19)

In [ ]:
tabela14.shape

(481720, 19)

In [ ]:
tabela17.dropna(axis=0) ##acho que vale tirar os nulos somente das colunas que for ser usadas.  Tinha  537436 e fica  442868 (quase 100 mil de diff)

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
0,1,5710,51,5,26,F,52.6,64.1,A,A,F,B,A,A,A,B,A,A,H
1,1,5710,51,5,23,F,63.1,82.1,B,D,D,B,A,A,B,A,B,A,C
2,1,5710,51,5,23,M,33.7,52.5,A,D,F,F,A,A,A,B,A,A,E
3,1,5710,51,5,23,M,58.1,72.6,A,A,D,B,A,A,E,A,A,A,E
4,1,5710,51,5,24,M,46.3,73.2,A,A,F,F,A,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534915,5,6407,43,4,23,M,35.6,21.2,A,A,D,B,E,A,A,A,A,A,E
534916,5,6407,43,4,32,F,66.1,65.9,A,B,D,D,F,A,E,A,A,B,E
534917,5,6407,43,4,27,F,70.2,51.7,A,A,E,E,E,A,A,D,D,A,H
534918,5,6407,43,4,21,F,51.9,15.0,A,A,C,F,B,A,A,B,A,A,E
534919,5,6407,43,4,20,F,52.8,72.8,A,A,F,F,B,A,A,B,A,A,H

In [ ]:
tabela14.dropna(axis=0)

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
0,10002,5710,51,5,24,M,59.3,67.2,A,A,E,F,A,A,A,B,A,A,A
1,10002,5710,51,5,22,F,60.8,66.2,A,C,D,E,A,A,A,B,A,A,H
2,10002,5710,51,5,24,F,69.2,92.4,A,C,E,C,A,A,A,E,A,A,A
3,10002,5710,51,5,24,M,43.1,22.5,A,A,E,F,A,A,A,B,A,A,C
4,10002,5710,51,5,23,M,43.9,52.5,A,C,E,F,A,A,A,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481708,10001,4005,52,5,31,F,52.9,65.5,E,A,D,E,A,A,A,A,C,A,F
481715,10001,4005,52,5,36,F,45.5,53.5,B,B,B,B,A,A,F,A,A,B,C
481716,10001,4005,52,5,32,M,41.4,69.7,B,A,B,B,E,A,A,A,A,B,A
481718,10001,4005,52,5,41,F,18.5,29.4,B,A,F,D,A,A,A,A,C,A,H
481719,10001,4005,52,5,31,M,48.9,64.3,A,A,E,B,A,A,A,A,A,A,C

# Unindo as duas tabelas em uma só

In [ ]:
# Concatenando as tabelas ao longo das linhas (adicionando novas linhas)
tabela_unida = pd.concat([tabela14, tabela17], ignore_index=True)

# Exibindo as primeiras linhas da tabela unida
tabela_unida.head()

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
0,10002,5710,51,5,24,M,59.3,67.2,A,A,E,F,A,A,A,B,A,A,A
1,10002,5710,51,5,22,F,60.8,66.2,A,C,D,E,A,A,A,B,A,A,H
2,10002,5710,51,5,24,F,69.2,92.4,A,C,E,C,A,A,A,E,A,A,A
3,10002,5710,51,5,24,M,43.1,22.5,A,A,E,F,A,A,A,B,A,A,C
4,10002,5710,51,5,23,M,43.9,52.5,A,C,E,F,A,A,A,B,A,A,B

In [ ]:
tabela_unida.shape

(1019156, 19)

# Filtrando pelos cursos de computação

In [ ]:
# Lista dos códigos de curso da área de computação
## quais são os cursos?
codigos_computacao = ['4003', '5809', '4004', '4006']
#2014
#5809 = ENGENHARIA DE COMPUTAÇÃO
#4004 = CIÊNCIA DA COMPUTAÇÃO (BACHARELADO)
#4006 = SISTEMAS DE INFORMAÇÃO

#2017
#4003 = Engenharia Da Computação
#4004 = Ciência Da Computação (Bacharelado)
#4006 = Sistemas De Informação

In [ ]:
# Filtrando a tabela unificada para incluir apenas cursos da área de computação
tabela_computacao = tabela_unida[tabela_unida['CO_GRUPO'].isin(codigos_computacao)]

In [ ]:
tabela_computacao.head()

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
595,10002,4004,51,5,21,M,67.5,85.5,A,C,E,F,A,A,A,A,B,A,E
596,10002,4004,51,5,22,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,10002,4004,51,5,20,M,40.1,45,A,C,D,B,A,A,A,A,A,B,E
598,10002,4004,51,5,27,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,10002,4004,51,5,21,M,NaN,NaN,A,C,B,F,A,A,A,D,A,A,A

In [ ]:
## Remove as linhas onde 'NT_GER' é nulo na tabela_computacao
tabela_computacao = tabela_computacao.dropna(subset=['NT_GER'])
## só retirar aquilo que for realmente usado

In [ ]:
tabela_computacao.head() ##nulos de notas retirados

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
595,10002,4004,51,5,21,M,67.5,85.5,A,C,E,F,A,A,A,A,B,A,E
597,10002,4004,51,5,20,M,40.1,45,A,C,D,B,A,A,A,A,A,B,E
600,10002,4004,51,5,21,M,59.7,85.7,A,A,D,E,A,A,A,A,A,A,A
601,10002,4004,51,5,26,F,68.7,71.8,A,A,E,D,A,A,A,A,A,A,A
602,10002,4004,51,5,22,M,52.3,56,A,C,D,C,A,E,A,A,A,B,C

In [ ]:
# Obtendo os tipos únicos de códigos de curso na tabela_computacao
tipos_codigos_curso = tabela_computacao['CO_GRUPO'].unique()

# Exibindo os tipos únicos de códigos de curso
print(tipos_codigos_curso)

['4004' '5809' '4006' '4003']

In [ ]:
tabela_computacao.groupby('CO_GRUPO')['CO_GRUPO'].count()

CO_GRUPO
4003     3465
4004    16765
4006    25258
5809     2549
Name: CO_GRUPO, dtype: int64

In [ ]:
print(tabela_computacao['CO_GRUPO'].isnull().sum())

0

In [ ]:
tabela_computacao['CO_GRUPO'] = tabela_computacao['CO_GRUPO'].replace({'5809': '4003'}, regex=True)
#padronizar o curso de eng. de compt

In [ ]:
tabela_computacao.groupby('CO_GRUPO')['CO_GRUPO'].count()

CO_GRUPO
4003     6014
4004    16765
4006    25258
Name: CO_GRUPO, dtype: int64

In [ ]:
# Verificando a dimensão final da tabela
print("Dimensão da tabela final:", tabela_computacao.shape)

Dimensão da tabela final: (48037, 19)

## Map dos cursos de computação

In [ ]:
mapping = {'5809': '4003', '4003': '4003', '4004': '4004', '4006': '4006'}
tabela_computacao['CO_GRUPO'] = tabela_computacao['CO_GRUPO'].replace(mapping)

#Usar Tipos de Dados Adequados:

In [ ]:
tabela_computacao['NT_GER'] = tabela_computacao['NT_GER'].astype(float)
tabela_computacao.head()

,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,NT_GER,NT_FG,QE_I01,QE_I02,QE_I05,QE_I08,QE_I11,QE_I12,QE_I15,QE_I17,QE_I18,QE_I21,QE_I25
595,10002,4004,51,5,21,M,67.5,85.5,A,C,E,F,A,A,A,A,B,A,E
597,10002,4004,51,5,20,M,40.1,45,A,C,D,B,A,A,A,A,A,B,E
600,10002,4004,51,5,21,M,59.7,85.7,A,A,D,E,A,A,A,A,A,A,A
601,10002,4004,51,5,26,F,68.7,71.8,A,A,E,D,A,A,A,A,A,A,A
602,10002,4004,51,5,22,M,52.3,56,A,C,D,C,A,E,A,A,A,B,C

# Recorte 2

#### Perfil jovem em instituições públicas
* Curso: todos de computação

* Faixa Etária: 18–23 e 24- 28 anos

* Escolaridade dos pais: Tem Superior ou Tem Médio

* Motivação: Vocação

* Instituição: Pública - federal

## Mapeamentos

In [ ]:
tabela_computacao = tabela_computacao.dropna(subset=['CO_CATEGAD'])
tabela_computacao['CO_CATEGAD'] = tabela_computacao['CO_CATEGAD'].astype(int)

# Novo mapeamento para 2 níveis: Públicas (1) e Privadas (2)
mapeamento_categorias = {
    # Públicas
    93: 1, # Federal
    10002: 1, # Federal
    10001: 3, # Estadual
    10003: 4, # Municipal
    116: 4, # Municipal

    # Privadas
    118: 2, # Com fins lucrativos
    121: 2, # Sem fins lucrativos
    10004: 2, # Com fins lucrativos
    10005: 2, # Com fins lucrativos
    10006: 2, # Com fins lucrativos
    10007: 2, # Sem fins lucrativos
    10008: 2, # Sem fins lucrativos
    10009: 2, # Sem fins lucrativos
}


# Aplicar o mapeamento correto de categorias
tabela_computacao['Tipo_Instituicao'] = tabela_computacao['CO_CATEGAD'].map(mapeamento_categorias)

# 2. Remover valores nulos em NT_GER e CO_CATEGAD
tabela_computacao = tabela_computacao.dropna(subset=['NT_GER', 'CO_CATEGAD'])

In [ ]:
# Mapeamento dos códigos para os nomes dos cursos
curso_mapping = {
    '4003': 'Engenharia da Computação',
    '4004': 'Ciência da Computação (Bacharelado)',
    '4006': 'Sistemas de Informação'
}

# Adicionando os nomes dos cursos à tabela
tabela_computacao['Curso'] = tabela_computacao['CO_GRUPO'].map(curso_mapping)

In [ ]:
# Converte NU_IDADE para número, transformando valores inválidos em NaN
tabela_computacao['NU_IDADE'] = pd.to_numeric(tabela_computacao['NU_IDADE'], errors='coerce')

# Definindo os intervalos e etiquetas para as faixas etárias
bins = [0, 18, 23, 28, 33, 38, 43, 48, 53, 58, 63, 68, float('inf')]
labels = ['0-17', '18-23', '24-28', '29-33', '34-38', '39-43', '44-48', '49-53', '54-58', '59-63', '64-68', '69+']

# Criar a coluna de faixa etária na tabela_computacao
tabela_computacao['faixa_etaria'] = pd.cut(tabela_computacao['NU_IDADE'], bins=bins, labels=labels, right=False)

In [ ]:
# Novo mapeamento para as categorias de escolaridade da mãe
mapeamento_escolaridade = {
    'A': 'Outro',          # Nenhuma
    'B': 'Tem Fundamental',  # Ensino fundamental: 1º ao 5º ano
    'C': 'Tem Fundamental',  # Ensino fundamental: 6º ao 9º ano
    'D': 'Tem Médio',         # Ensino médio
    'E': 'Tem Superior',      # Ensino Superior - Graduação
    'F': 'Tem Superior'       # Pós-graduação
}

# Aplicar o mapeamento às tabelas de 2014 e 2017
tabela_computacao['QE_I05'] = tabela_computacao['QE_I05'].map(mapeamento_escolaridade)

# Verificar as contagens de cada categoria para validar o mapeamento
#print(tabela_computacao['QE_I05'].value_counts())

In [ ]:
# Novo mapeamento para a questão QE_I25_E
mapeamento_motivo_curso = {
    'A': 'Inserção no mercado de trabalho',  # Inserção no mercado de trabalho
    'B': 'Família e Sociedade',                 # Influência familiar
    'C': 'Valorização profissional',                 # Valorização profissional
    'D': 'Família e Sociedade',                 # Prestígio Social
    'E': 'Vocação',                 # Vocação
    'F': 'Outros',                 # Oferecido na modalidade a distância
    'G': 'Outros',                 # Baixa concorrência para ingresso
    'H': 'Outros'                  # Outro motivo
}
# Aplicando o mapeamento dos motivos de escolha de curso
tabela_computacao['QE_I25'] = tabela_computacao['QE_I25'].map(mapeamento_motivo_curso)

In [ ]:
print(tabela_computacao['Tipo_Instituicao'].isna().sum())
print(tabela_computacao['QE_I05'].isna().sum())
print(tabela_computacao['QE_I25'].isna().sum())

23945
228
229

## Recortes

In [ ]:
from scipy.stats import ttest_ind

# Aplicando o filtro
recorte_jovens_publica = tabela_computacao[
    (tabela_computacao['Curso'] == 'Ciência da Computação (Bacharelado)') &
    (tabela_computacao['faixa_etaria'] == '18-23') &
    (tabela_computacao['QE_I05'] == 'Tem Superior') &
    (tabela_computacao['QE_I25'] == 'Vocação') &
    (tabela_computacao['Tipo_Instituicao'] == 1)  # Instituição federal
]

# Separando as notas por sexo
notas_fem = recorte_jovens_publica[recorte_jovens_publica['TP_SEXO'] == 'F']['NT_GER'].astype(float)
notas_masc = recorte_jovens_publica[recorte_jovens_publica['TP_SEXO'] == 'M']['NT_GER'].astype(float)

# Realizando o teste t de Student (variância não assumida igual)
t_stat, p_valor = ttest_ind(notas_fem, notas_masc, equal_var=False)

# Exibindo o resultado
print(f"Estatística t: {t_stat:.4f}")
print(f"P-valor: {p_valor:.6f}")

Estatística t: -0.1498
P-valor: 0.881969

In [ ]:
# Calculando as médias
media_fem = notas_fem.mean()
media_masc = notas_masc.mean()

# Exibindo as médias
print(f"Média Feminina: {media_fem:.2f}")
print(f"Média Masculina: {media_masc:.2f}")

Média Feminina: 61.45
Média Masculina: 61.87

In [ ]:
# Contagem de participantes por sexo no recorte
contagem_por_sexo = recorte_jovens_publica['TP_SEXO'].value_counts()

print("Contagem por sexo no recorte:")
print(contagem_por_sexo)

Contagem por sexo no recorte:
TP_SEXO
M    120
F     19
Name: count, dtype: int64